/* 设置窗口背景颜色 */
QWidget{
    color: rgb(240, 241, 186);
    background-color: rgb(3, 8, 51);
    }

/* 设置按钮背景和前景颜色 */
QPushButton {
    background-color: #120c5f;
    color: white;
}

/* 鼠标悬停时修改按钮颜色 */
QPushButton:hover {
    background-color: #005ea4;
}

/* 点击按钮时修改按钮颜色 */
QPushButton:pressed {
    background-color: #00ffff;
}

QLineEdit{
    background-color: #000000;
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
}